body {
    background-image: url(recursos/fondo.jpg);
    background-size:100%;
    min-height: 100%;}

.navbar {
    background-color: #fb6b05; 
}

.card {
    width: 30rem;}

.btn {
        background-color: #fb6b05;
        color: white;
    }


