body {
    background-image: url(img/fondo.jpg);
    background-size:100%;
    min-height: 100%;}


.navbar {
    background-color: #fb6b05;
}

.card {
    width: 15rem;
}

.btn {
    background-color: green;
    border-color: green;
    
}